<span class="ganttBar " [@flyInOut]="'in'" [ngStyle]="setStyle()">
 
<span [ngStyle]="setRightArrow()" class="arrowCont rightArrowCont">
  <i class="fa fa-sort-desc" aria-hidden="true"></i>
  <span class="arrtoolTip" >{{_bar.rightArrowData}}</span>
</span>
<span [ngStyle]="setLeftArrow()" class="arrowCont leftArrowCont">
  <i class="fa fa-sort-desc" aria-hidden="true"></i>
  <span class="arrtoolTip">{{_bar.leftArrowData}}</span>
  </span>

<span class="pull-right" style="color: white;">{{_bar.barData}}</span>
<!--<span class="pull-left"  style="color: white;">{{_bar.barData}}</span>-->

</span>
