<div class="ganttChartCont">
<app-barchart [color]='StartActualDifferenceBarColor' [position]='StartActualBarStartPosition' [width]='StartActualBarCapacity'></app-barchart>
<app-barchart [color]='ProgressBarColor' [position]='ProgressBarStartPosition' [width]='ProgressBarCapacity'></app-barchart>
<app-barchart [color]='EndDateBarColor' [position]='EndDateStartPosition' [width]='EndDateBarCapacity'></app-barchart>
<app-barchart [color]='ForcastedEndDateBarColor' [position]='ForcastedBarEndDateBarStartPosition' [width]='ForcastedBarEndDateBarCapacity'></app-barchart>
</div>
