<!--<div class="ganttChartCont">
<app-barchart [direction]="Direction" [color]='StartActualDifferenceBarColor' [position]='StartActualBarStartPosition' [width]='StartActualBarCapacity'></app-barchart>
<app-barchart [direction]="Direction" [color]='ProgressBarColor' [position]='ProgressBarStartPosition' [width]='ProgressBarCapacity'></app-barchart>
<app-barchart [direction]="Direction" [color]='EndDateBarColor' [position]='EndDateStartPosition' [width]='EndDateBarCapacity'></app-barchart>
<app-barchart [direction]="Direction" [color]='ForcastedEndDateBarColor' [position]='ForcastedBarEndDateBarStartPosition' [width]='ForcastedBarEndDateBarCapacity'></app-barchart>
</div> -->


<div class="ganttChartCont">
<app-barchart [ganttbar]="Gantt.GanttBarStart"></app-barchart>
<app-barchart [ganttbar]="Gantt.GanttBarProgress"></app-barchart>
<app-barchart [ganttbar]="Gantt.GanttBarEnd"></app-barchart>
<app-barchart [ganttbar]="Gantt.GanttBarForcasted"></app-barchart>
</div> 
